

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #333;
    font-family: "Helvetica Neue" Helvetia Arial sans-serif;
    font-size: 0.875em;
    line-height: 1.4em;
}

h5 {
    display: run-in;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
}

label {
    font-weight: bold;
}

svg {
    display: block;
}

text {
    font-size: 12px;
}

circle:hover {
    stroke: #333;
    stroke-width: 4;
}

.tooltip {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 6px;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
}

.tooltip .gender,
.tooltip .npv,
.tooltip .costs {
    padding-left: 1.5em;
    text-align: right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.domain {
    display: none;
}
