

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #333;
    font-family: 'Gentium Book Basic' serif;
    font-size: 0.875em;
    line-height: 1.4em;
}

header {
    position: relative;
}

header nav {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans' sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size: 4.43em;
    line-height: 0.9em;
}

h2 {
    font-size: 1.969em;
    letter-spacing: -0.05em;
    line-height: 0.9em;
}

h5 {
    display: run-in;
    font-size: 0.875em;
    letter-spacing: -0.05em;
    line-height: 1.4em;
}

h5:after {
    content: ' ';
}

label {
    font-weight: bold;
}

svg {
    display: block;
    font-family: 'Open Sans' sans-serif;
}

circle:hover {
    stroke: #333;
    stroke-width: 4;
}

.hidden {
    display: none;
}

.tooltip {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 6px;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
}

.tooltip h3 {
    display: inline-block;
}

.tooltip .flag {
    float: left;
    margin-right: 1em;
    width: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

.axis text {
    fill: #888;
}

.axis .title {
    font-size: 0.875em;
}

.title {
    fill: #aaa;
    font-size: 1.969em;
    font-weight: 800;
    line-height: 0.9em;
    text-anchor: middle;
    text-transform: uppercase;
}

.label {
    text-anchor: middle;
}

.domain {
    display: none;
}

.private_costs {
    fill: #eee;
}

.male.post-secondary .income-tax-effect,
.male.post-secondary .net-present-value,
.male.post-secondary {
    fill: #53A5B6;
}

.male.tertiary .income-tax-effect,
.male.tertiary .net-present-value,
.male.tertiary {
    fill: #0A527E;
}

.female.post-secondary .income-tax-effect,
.female.post-secondary .net-present-value,
.female.post-secondary {
    fill: #E7BDC6;
}

.female.tertiary .income-tax-effect,
.female.tertiary .net-present-value,
.female.tertiary {
    fill: #CB7C97;
}

.demographic path {
    fill: #EEE;
    stroke: #888;
    opacity: 0.9;
}