

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #333;
    font-family: "Helvetica Neue" Helvetia Arial sans-serif;
    font-size: 0.875em;
    line-height: 1.4em;
}

h5 {
    display: run-in;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
}

label {
    font-weight: bold;
}

svg {
    display: block;
}

text {
    font-size: 12px;
}

circle {
    opacity: 0.8;
}

circle:hover {
    stroke: #333;
    stroke-width: 4;
}

.tooltip {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 6px;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
}

.tooltip .npv,
.tooltip .costs {
    padding-left: 1.5em;
    text-align: right;
}

.tooltip h4 {
    display: inline-block;
}

.tooltip .gender {
    float: right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

.axis text {
    fill: #888;
}

.title {
    text-anchor: middle;
}

.label {
    text-anchor: middle;
}

.domain {
    display: none;
}

.private_costs {
    fill: #eee;
}

.male.post-secondary {
    fill: #53A5B6;
}

.male.tertiary {
    fill: #0A527E;
}

.female.post-secondary {
    fill: #E7BDC6;
}

.female.tertiary {
    fill: #CB7C97;
}